[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/simbalsyd
[access "refs/for/refs/*"]
	read = group user/simbalsyd
	push = group user/simbalsyd
	label-Code-Review = -2..+2 group user/simbalsyd
	label-Verified = -1..+1 group user/simbalsyd
	rebase = group user/simbalsyd
	removeReviewer = group user/simbalsyd
	submit = group user/simbalsyd
[access "refs/heads/*"]
	read = group user/simbalsyd
	create = group user/simbalsyd
	push = +force group user/simbalsyd
	pushMerge = group user/simbalsyd
[access "refs/tags/*"]
	push = +force group user/simbalsyd
	pushTag = group user/simbalsyd
	pushSignedTag = group user/simbalsyd
